* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#heading {
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}

#calculator {

    height: 80vh;
    width: 50vh;
    border: 5px solid #335C8A;
    border-radius: 20px;
    margin: 20px;
    background-color: #DDF1FE;
}

#calc-container {
    display: flex;
    justify-content: center;
}

.button {
    height: 12.5%;
    width: 20%;
    border: solid red 2px;
    font-size: 25px;
    color: black;
}

#screen {
    background-color: lightgray;
    height: 90%;
    width: 80%;
    border-radius: 10px;
}

#screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    border-radius: 5px;
}
